#color {
 background-color: #323338;
}
#men {
 position: absolute;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 margin: auto;
 z-index: 0;
}
#up {
 position: absolute;
 width: 8%;
 height: 16%;
 bottom: 31.5%;
 left: 10%;
 user-select: none;
 background-color: #323338;
 color: white;
 font-size: 250%;
 z-index: 1;
}
#leftUp {
 position: absolute;
 width: 8%;
 height: 16%;
 bottom: 31.5%;
 left: 2%;
 user-select: none;
 background-color: #323338;
 color: white;
 font-size: 250%;
 border-top-left-radius: 35px;
 z-index: 1;
}
#rightUp {
 position: absolute;
 width: 8%;
 height: 16%;
 bottom: 31.5%;
 left: 18%;
 user-select: none;
 background-color: #323338;
 color: white;
 font-size: 250%;
 border-top-right-radius: 35px;
 z-index: 1;
}
#down {
 position: absolute;
 width: 8%;
 height: 16%;
 bottom: 0%;
 left: 10%;
 user-select: none;
 background-color: #323338;
 color: white;
 font-size: 250%;
 z-index: 1;
}
#leftDown {
 position: absolute;
 width: 8%;
 height: 16%;
 bottom: 0%;
 left: 2%;
 user-select: none;
 background-color: #323338;
 color: white;
 font-size: 250%;
 border-bottom-left-radius: 35px;
 z-index: 1;
}
#rightDown {
 position: absolute;
 width: 8%;
 height: 16%;
 bottom: 0%;
 left: 18%;
 user-select: none;
 background-color: #323338;
 color: white;
 font-size: 250%;
 border-bottom-right-radius: 35px;
 z-index: 1;
}
#left {
 position: absolute;
 width: 8%;
 height: 16%;
 bottom: 15.7%;
 left: 2%;
 user-select: none;
 background-color: #323338;
 color: white;
 font-size: 250%;
 z-index: 1;
}
#right {
 position: absolute;
 width: 8%;
 height: 16%;
 bottom: 15.7%;
 left: 18%;
 user-select: none;
 background-color: #323338;
 color: white;
 font-size: 250%;
 z-index: 1;
}
#size {
 position: absolute;
 width: 8%;
 height: 16%;
 bottom: 15.8%;
 left: 10%;
 user-select: none;
 background-color: #323338;
 color: white;
 z-index: 1;
}
/*#box {
 position: absolute;
 left: 0%;
 right: 0%;
 bottom: 0%;
 top: 0%;
 margin: auto;
 width: 10%;
 height: 20%;
}*/
#box2 {
 position: absolute;
 left: 0%;
 right: var(--right2, 0%);
 bottom: var(--bottom2, 0%);
 top: 0%;
 margin: auto;
 width: 10%;
 height: 20%;
}
@media(orientation: portrait) {
 #up {
  width: 16%;
  height: 8%;
  left: 20%;
  bottom: 15.8%;
 }
 #leftUp {
  width: 16%;
  height: 8%;
  left: 4%;
  bottom: 15.8%;
 }
 #rightUp {
  width: 16%;
  height: 8%;
  left: 36%;
  bottom: 15.8%;
 }
 #down {
  width: 16%;
  height: 8%;
  left: 20%;
 }
 #leftDown {
  width: 16%;
  height: 8%;
  left: 4%;
 }
 #rightDown {
  width: 16%;
  height: 8%;
  left: 36%;
 }
 #left {
  width: 16%;
  height: 8%;
  bottom: 7.9%;
  left: 4.2%;
 }
 #right {
  width: 16%;
  height: 8%;
  bottom: 7.9%;
  left: 35.9%;
 }
 #size {
  width: 16%;
  height: 8%;
  left: 20%;
  bottom: 7.9%;
 }
 #box {
  width: 20%;
 height: 10%;
 }
 #box2 {
 width: 20%;
 height: 10%;
 }
}